*.pyc
*.pyo
*.bak
tags
.DS_Store
tmp
nginx.conf
python_env
api/docker-compose.yml
api/dbdata/
api/.coverage
api/core/env.py
api/public/static/rest_framework_swagger/
api/public/static/rest_framework/
api/public/static/admin/
api/public/htmlcov/
api/public/media/
api/public/clients/
client/node_modules/
client/coverage/
client/build/
client/dist/
client/logfile
client/yarn-error.log
client/docker-compose.yml
vclien
