.content-container {
    background-color: white;
    padding: 15px;
    margin: 10px 0;
}

.img-thumbnail {
    margin: 10px 0;
}

.article-description p {
    margin-top: 7px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
