@font-face {
    font-family: georia;
    src: url(../fonts/georgia/Georgia.ttf);
}

.content-container {
    background-color: white;
    padding: 10px;
    margin: 10px 0;
}

h1, h2 {
    font-family: georgia;
}

.gallery-thumbnail {
    background-color: white;
    padding: 5px;
    margin-bottom: 10px;
}

.gallery-thumbnail .caption {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.img-thumbnail {
    margin: 10px 0;
}

.article-description p {
    margin-top: 7px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.date-time {
    font-size: 0.8em;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}
